<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="menu-list" id="menuList">
          <li class="menu-item">
            <a href="/books" class="menu-link active">Books</a>
          </li>
          <li class="menu-item">
            <a href="/quotes" class="menu-link">Quotes</a>
          </li>
          <li class="menu-item">
            <a href="/dashboard" class="menu-link">Dashboard</a>
          </li>
          <li class="menu-item">
            <a href="/add" class="menu-link">Add</a>
          </li>
          <li class="menu-item">
            <a href="/profile" class="menu-link">Profile</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="book-main">
      <h2>My Library</h2>
      <p>All books in your collection</p>
      <div class="search">
        <input
          type="text"
          name="search"
          id="search-box"
          placeholder="Search your library"
        />
        <span>
          <img src="/images/search.svg.svg" alt="searchbutton" />
        </span>
      </div>

      <div class="sections">
        <a href="/books">
          <span class="<%= filter === 'all' ? 'active' : '' %>">All</span>
        </a>
        <a href="/read">
          <span class="<%= filter === 'read' ? 'active' : '' %>">Read</span>
        </a>
        <a href="/want">
          <span class="<%= filter === 'want' ? 'active' : '' %>"
            >Want To Read</span
          >
        </a>
      </div>

      <div class="container all-books">
        <% if (books.length === 0) { %>
        <p>No books found.</p>
        <% } else { %> <% books.forEach(book => { %>
        <div class="book">
          <div class="book-img-wrapper">
            <img src="<%= book.cover_url %>" alt="<%= book.title %>" />
          </div>
          <span class="book-title"><%= book.title %></span>
          <span class="book-author"><%= book.author %></span>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
    <script src="/js/logic.js"></script>
  </body>
</html>
